<section class="col p-4 d-flex flex-column position-static">
  <strong class="d-inline-block mb-2 text-primary">Resource: {{index}}</strong>
  <h3 class="mb-0">{{resource.name}} {{resource.year}}</h3>
  <span class="mb-1 text-muted">{{resource.pantone_value}}</span>
  <p class="card-text mb-auto">This is a description that every user will have and it is just a placeholder
    information.</p>
</section>

<section class="col-2 p-2">
  <span class="mb-1 text-muted">Color</span>
  <h3 class="mb-0">{{resource.color}}</h3>
</section>
