<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <img src="assets/images/logo.png"
       alt="" width="50" height="50">
  <a class="navbar-brand"
     [routerLink]="['user-list']">Users List</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="user-list">Users List</a>
      </li>

      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="resources">Users Resources</a>
      </li>

    </ul>

    <section class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="button"
              (click)="logout()">Logout
      </button>
    </section>
  </div>
</nav>
