<article class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <section class="inner cover">
    <h1 class="cover-heading text-center">Users Resources</h1>
  </section>

  <section class="users-container"
           infiniteScroll
           [infiniteScrollDistance]="0.5"
           [infiniteScrollThrottle]="200"
           (scrolled)="onScroll()"
           [scrollWindow]="false">

    <app-user-resources-item
      class="row no-gutters border rounded overflow-hidden flex-md-row m-2 shadow-sm h-md-250 position-relative"
      *ngFor="let resource of resources; index as i"
      [resource]="resource"
      [index]="i+1"></app-user-resources-item>

  </section>

</article>
